* {
    box-sizing: border-box;
  }
  
  :root {
    --primary: darkblue;
    --secondary: lightblue;
    --tertiary: #333;
    --fourth: #6eaee9;
    font-size: 62.5%;
  }
  
  body {
    background: rgb(240, 240, 227);
    color: var(--tertiary);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  header {
    background: var(--fourth);
    padding: 20px 25px;
    border-top: 5px solid var(--primary);
    border-bottom: 5px solid var(--primary);
    text-align: center;
    margin-bottom: 15px;
  }
  
  header p {
    color: var(--tertiary);
    margin: 5px 0 20px;
    font-size: 2rem;
  }
  
  p, li {
    font-size: 1.4rem;
  }
  
  
/* This class works together with the "footer" class to keep the footer
   at the bottom of the viewport, regardless of resizing. */
.wrapper {
  min-height: calc(100vh - 70px);  /* Note the '70px' matches the footer. */
}
  
  footer {
    width: 100%;
    background: var(--fourth);
    color: var(--primary);
    font-size: 1.5rem;
    padding: 10px;
    border-top: 5px solid var(--primary);
    border-bottom: 5px solid var(--primary);
    margin-top: 10px;            /* added to avoid touching the footer area */
    height: 60px;
  }
  
  
.page-title {
  color: var(--primary);
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 3rem;
}


.start-time {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-left: 15px;
}


.btn {
  padding: 10px 15px;
  background: var(--fourth);
  font-size: 2.2rem;
  border-radius: 12px; 
  top: -3px;
  box-shadow: 0 3px var(--tertiary);
  margin-right: 15px;
  align-items: center;
  display: block;
}

.time {
  padding: 10px 15px;
  background: var(--secondary);
  font-size: 2.2rem;
  border-radius: 12px; 
  top: -3px;
  box-shadow: 0 3px var(--tertiary);
  margin-left: 15px;
  align-items: center;
  display: block;
}


.quiz-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  max-width: 400px;
  min-height: 300px;
}

.quiz-wrapper {
  flex: 1;
  margin: 0 20px 20px 20px;
  justify-content: center;
}

.quiz-title {
  color: var(--primary);
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 5px;
}


.quiz-box {
  list-style: none;
  padding: 15px;
  height: calc(100% - 50px);
  background: rgb(226, 225, 225);
  border-radius: 12px;
  border: 2px solid var(--tertiary);

}

.response-wrapper {
  flex: 1;
  margin: 0 20px 5px 20px;
  justify-content: center;
}

.form-group {
  display: flex;
  flex: wrap;
  justify-content: center;
  margin: 0 10px 20px 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
}

.form-btn {
  padding: 10px 15px;
  background: var(--fourth);
  font-size: 1.5rem;
  border-radius: 12px; 
  top: -3px;
  box-shadow: 0 3px var(--tertiary);
  margin-right: 15px;
  align-items: center;
  display: block;
}


.results-wrapper {
  display: flex;
  flex: wrap;
  justify-content: center;
  color: var(--tertiary);
  font-size: 1.0rem;
  text-align: center;
  margin-bottom: 5px;
  max-height: 50px;
}

.results {
  padding-left: 20px;
  padding-right: 20px;
}

.wrong-answer {
  color: red;
}